<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>HashSyTravel</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,700"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an text logo -->
          <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
          <a href="#intro" class="scrollto"
            ><img src="/images/dtlogo.png" alt="" class="img-fluid" />
            <strong>HashSyTravel</strong>
          </a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="#intro">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <!-- <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li> -->
            <li><a href="#team">Team</a></li>
            <li><a href="/auth/login">Login</a></li>
            <!-- <li class="drop-down">
              <a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down">
                  <a href="#">Drop Down 2</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li> -->
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <!-- ======= Intro Section ======= -->
    <section id="intro" class="clearfix">
      <div class="container">
        <div class="intro-img">
          <img src="/assets/img/intro-img.svg" alt="" class="img-fluid" />
        </div>

        <div class="intro-info">
          <h2>
            Tension Free Travel<br /><span>with</span><br />
            Blockchain!
          </h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="#services" class="btn-services scrollto">Register</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Intro Section -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>About Us</h3>
            <p>
              Today, documents handling require either paper handling or
              e-document require having your information at the centralized
              database controlled by an organisation. However, these centralised
              system have some serious disadvantages. Server breakdown may cause
              all the valuable information into
            </p>
          </header>

          <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                To overcome the existing problems, we have proposed a new
                solution- QR code Blockchain based Vehicle documents managing
                System. A system where the user will first need to upload all
                types of documents on the portal after registration. After the
                verification of the documents , a QR code will be issued to the
                , scanning which all the information of the documents could
                be accessed. All those information will be uploaded on
                blockchain as well and there will be sync between the database and blockchain.
                After scanning the QR code the data will be
                fetched directly from the blockchain. Since the data is on
                blockchain, no one can tamper with the data. One can easily put
                the QR code on car and traffic police can directly access them
                in one scan in time of need.
              </p>

              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Travel Stress Free</a></h4>
                <p class="description">
                  The solution is implemented using Ethereum Blockchain Network,
                  Interplanetary File System (IPFS), Ocr and Web3 technologies.
                  The solution is having it’s logic written in Solidity, which
                  is then deployed on Ethereum Network and connected to
                  Application using Web3Js. In the middle Ocr is used to fetch
                  the relevant documents and verification.
                </p>
              </div>

              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="">Decentralised</a></h4>
                <p class="description">
                  The Ipfs Network is used to initially upload and store
                  documents. Ipfs is a decentralized peer to peer Storage
                  network where we can host websites, store documents, etc.
                  Anything uploaded to Ipfs network gets attached to a unique
                  hash which can be later used to access the documents. The
                  documents uploaded by user are stored in Ipfs and hash of that
                  document is stored in Ethereum. This provides immutability and
                  privacy of data
                </p>
              </div>

              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">AUTO Verified</a></h4>
                <p class="description">
                  It Provides immutability and privacy of data. Ocr is used to fetch
                  the important relevant data from the documents and
                  verification purposes. In this system we have used predefined
                  document format designed by us for the purpose of data
                  extraction. With better Ocr , any document format can be used
                </p>
              </div>
            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/about-img.svg" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img
                src="assets/img/about-extra-1.svg"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>
                A semi Decentralised Application with Power of HarperDB
              </h4>
              <p>
              To overcome the existing problems, we have proposed a new
                solution- QR code Blockchain based Vehicle documents managing
                System. A system where the user will first need to upload all
                types of documents on the portal after registration. After the
                verification of the documents , a QR code will be issued to the
                , scanning which all the information of the documents could
                be accessed. All those information will be uploaded on
                blockchain as well and there will be sync between the database and blockchain.
                After scanning the QR code the data will be
                fetched directly from the blockchain. Since the data is on
                blockchain, no one can tamper with the data. One can easily put
                the QR code on car and traffic police can directly access them
                in one scan in time of need.
              </p>
              <p>
                
              </p>
            </div>
          </div>

          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img
                src="assets/img/about-extra-2.svg"
                class="img-fluid"
                alt=""
              />
            </div>

            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>
                Enjoy and Travel freely!
              </h4>
              <p>
              To overcome the existing problems, we have proposed a new
                solution- QR code Blockchain based Vehicle documents managing
                System. A system where the user will first need to upload all
                types of documents on the portal after registration. After the
                verification of the documents , a QR code will be issued to the
                , scanning which all the information of the documents could
                be accessed. All those information will be uploaded on
                blockchain as well and there will be sync between the database and blockchain.
                After scanning the QR code the data will be
                fetched directly from the blockchain. Since the data is on
                blockchain, no one can tamper with the data. One can easily put
                the QR code on car and traffic police can directly access them
                in one scan in time of need.
              </p>
         
              <p>
               
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Technological Stack Used</h3>
            <p>
              HashSyTravel is built with great and modern techstack which provides speed,
              security and usability
            </p>
          </header>

          <div class="row">
            <div
              class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-analytics-outline"
                    style="color: #ff689b"
                  ></i>
                </div>
                <h4 class="title"><a href="">Ethereum</a></h4>
                <p class="description">
                  This is the blockchain network on which smart contracts are deployed which takes and store 
                  required information
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-5 wow bounceInUp"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-bookmarks-outline"
                    style="color: #e9bf06"
                  ></i>
                </div>
                <h4 class="title"><a href="">IPFS</a></h4>
                <p class="description">
                  IPFS stands for Interplanetary File System. All the doc files are sent to ipfs for
                  secure and low cost storage on a decentralized network
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i class="ion-ios-paper-outline" style="color: #3fcdc7"></i>
                </div>
                <h4 class="title"><a href="">HarperDB</a></h4>
                <p class="description">
                  This is a new and modern javascript Database which Globally Replicates Data at the Speed of the Internet
                  It provides a lot of edge locations, customisations and a api rest point to do all the crud operations
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-5 wow bounceInUp"
              data-wow-delay="0.1s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i
                    class="ion-ios-speedometer-outline"
                    style="color: #41cf2e"
                  ></i>
                </div>
                <h4 class="title"><a href="">WEB3JS</a></h4>
                <p class="description">
                   This is the javascript library used to connect to the blockchain network 
                   <br><br><br><br>
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
              data-wow-delay="0.2s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i class="ion-ios-world-outline" style="color: #d6ff22"></i>
                </div>
                <h4 class="title"><a href="">OCR</a></h4>
                <p class="description">
                  We are using Ocr to fetch all the information from your documents so that you don't need to enter details manaully
                
                </p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-5 wow bounceInUp"
              data-wow-delay="0.2s"
              data-wow-duration="1.4s"
            >
              <div class="box">
                <div class="icon">
                  <i class="ion-ios-clock-outline" style="color: #4680ff"></i>
                </div>
                <h4 class="title"><a href="">Solidity/Nodejs</a></h4>
                <p class="description">
                  Solidity is used to write the ethereum smart contracts and
                   Nodejs for the backend stack. <br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->


      <!-- ======= Team Section ======= -->
      <section id="team">
        <div class="container">
          <div class="section-header">
            <h3>Team</h3>
            <p>
              The team
            </p>
          </div>

          <div class="row">
           




            <div class="offset-lg-4  col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="https://www.mbcse.tech/post_uploads/undefined_1590219843887.jpg" class="img-fluid" alt="" />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Mohit Bhat</h4>
                    <span>Blockchain and Full Stack Developer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->

  

      <!-- ======= Contact Section ======= -->
      <section id="contact">
        <div class="container-fluid">
          <div class="section-header">
            <h3>Contact Us</h3>
          </div>

          <div class="row wow fadeInUp">
            <div class="col-lg-6">
              <div class="map mb-4 mb-lg-0">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 312px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-5 info">
                  <i class="ion-ios-location-outline"></i>
                  <p>HashSyTravel</p>
                </div>
                <div class="col-md-4 info">
                  <i class="ion-ios-email-outline"></i>
                  <p>help@HashSyTravel.com</p>
                </div>
                <div class="col-md-3 info">
                  <i class="ion-ios-telephone-outline"></i>
                  <p>+91 XXXXXXXXXX</p>
                </div>
              </div>

              <div class="form">
                <form
                  action="forms/contact.php"
                  method="post"
                  role="form"
                  class="php-email-form"
                >
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="name"
                        placeholder="Your Name"
                        data-rule="minlen:4"
                        data-msg="Please enter at least 4 chars"
                      />
                      <div class="validate"></div>
                    </div>
                    <div class="form-group col-lg-6">
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="Your Email"
                        data-rule="email"
                        data-msg="Please enter a valid email"
                      />
                      <div class="validate"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                      data-rule="minlen:4"
                      data-msg="Please enter at least 8 chars of subject"
                    />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="5"
                      data-rule="required"
                      data-msg="Please write something for us"
                      placeholder="Message"
                    ></textarea>
                    <div class="validate"></div>
                  </div>
                  <div class="mb-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" title="Send Message">
                      Send Message
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>HashSyTravel</h3>
              <p>
                Your Travel Document assitant 
              </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                ABC <br />
                XYZ city - XXXXXX<br />
                India <br />
                <strong>Phone:</strong> +1 XXX XXX XXX X<br />
                <strong>Email:</strong> info@hashsytravel.com<br />
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="google-plus"
                  ><i class="fa fa-google-plus"></i
                ></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
               Get to know more about us!
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>HashSyTravel</strong>. All Rights Reserved
        </div>
        <div class="credits">
   
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/mobile-nav/mobile-nav.js"></script>
    <script src="assets/vendor/wow/wow.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
